#gameForm {
    margin: 2em;
    font-size: 2em;
    text-align: center; 
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px 2px #eeeeee; 
}

h4 {
    font-size: 1.4em;
    color: #eeeeee;
    letter-spacing: 0.1em;
    line-height: 2em;
    padding: 0.9em;
    background-color: rgba(134, 133, 133, 0.6);
    text-align: center;
}

header {
    float: right;
    margin-bottom: 8%;
    padding: 3%;
}

img{
    position: relative;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
#imagesize{
    text-align: center;
}
#inBetween p, #selections p {
    cursor: pointer;
}
#inBetween, #selections, #gameOver { 
    display: none;
}
#inBetween p:hover, #selections p:hover {
    background-color: #eeeeee;
    color: #b7410e;
}

main {
    clear: both;
}

#modal {
    display: block;
}
p{
    margin-left: 0;
    margin-right: 0;
    padding: 0.3em;
    border: rgba(128, 128, 128, 0.509) solid 2px;
}
#selections h4 {
    font-size: 1.2em;
}
.show:after {
    content: '';
    display: block;
    height: 1.3em;
    background-image: url('https://www.goodfreephotos.com/albums/vector-images/dripping-slime-vector-clipart.png');
    background-repeat: repeat-x;
    background-size: 5% auto;
    transition: transform 0.1s ease-out;
    transform-origin: left top;
    transform: scaleY(0);
    filter: hue-rotate(-90deg);
    padding: 0em;
    margin: 0%; 
}
    
.show:hover:after {
    transform: scaleY(1);
    transition: transform 1s ease-in;
}
