/* font-color */
:root{
--color-name1: #606636;
--color-name2: #240040;
--color-name3: #16748A;
--color-name4: #F25116;
--color-name5: #171717;
--color-name6: #eeeeee;
}

#background {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  z-index: -1;
}
.bio {
  width: 50%;
}

#biopic {
  width: 20%;
  padding: 3em;
  margin-left: 25%;
}
body{
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Bangers', cursive;
  color: var(--color-name4);
}
h1 {
  font-size: 4em;
  text-align: center;
  font-size: 3.8em;
  padding: 1em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 0.2em;
  padding: 1em;
}
header, main {
  z-index: 10;
}
#intro a {
  float: right;
  margin-top: 45px;
  transition: font-size 3s, color 3s;
    -moz-transition:font-size 3s, color 3s; /* Firefox 4 */
    -webkit-transition:font-size 3s, color 3s; /* Safari and Chrome */
    -o-transition:font-size 3s, color 3s;
  text-decoration: none;
}
#intro a:hover {
  font-size: 1.9em;
  color: #FFD700;
}

#logo {
  font-size: 2.5em;
  margin-top: 1em;
}

main {
  width: 70%;
  margin: 30px auto;
}

nav {
  height: 80px;
  z-index: 1;
}


nav a {
  display: block;
  float: right;
  color: #eeeeee;
  text-align: center;
  font-size: 1.4em;
  font-family: 'VT323', monospace;
  padding: 0px 16px;
  text-decoration: none;

  line-height: 80px;
  width: 13%;
}

nav a:hover {
  color: #FFD700;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 1.2em;
  color: #eeeeee;
  letter-spacing: 0.1em;
  line-height: 2em;
  padding: 0.9em;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgba(134, 133, 133, 0.6);
  text-align: center;

}

section {
  margin-bottom: 15px;
}
