
/* font-color */
:root{
--color-name1: #606636;
--color-name2: #240040;
--color-name3: #16748A;
--color-name4: #FFd400;
--color-name5: #171717;
--color-name6: #eeeeee;
}

a {
  padding: 8%;
}

audio{
  display: none;
}

#backgroundimage {
  position: fixed;
  height: 100%;
  z-index: -1;
  top: 0;
  left: 0;
  background-position: center top; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bangers', cursive;
  color: var(--color-name4);
}
h1 {
  font-size: 8em;
  text-align: center;
  padding: 1em;
  text-shadow: 2px 2px 4px #000000;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
  letter-spacing: 0.2em;
  padding: 1em;
}
header, main {
  z-index: 10;
}
#intro a {
  float: right;
  margin-top: 45px;
  transition: font-size 3s, color 3s;
    -moz-transition:font-size 3s, color 3s; 
    -webkit-transition:font-size 3s, color 3s; 
    -o-transition:font-size 3s, color 3s;
  text-decoration: none;
}
#intro a:hover {
  font-size: 1.9em;
  color: #FFD700;
}
#intro p {
  text-shadow: 2px 2px 7px #111111;
  padding: 2em;
  margin-top: 3.5em;
}
#logo {
  font-size: 3em;
  margin-top: 1em;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
}

main {
  width: 70%;
  margin: 30px auto;
}

nav {
  height: 80px;
  z-index: 1;
}


nav a {
  display: block;
  float: right;
  color: #eeeeee;
  text-align: center;
  font-size: 1.4em;
  font-family: 'VT323', monospace;
  padding: 0px 16px;
  text-decoration: none;
  text-shadow: 1px 1px 3px #000000;

  line-height: 80px;
  width: 13%;
}

nav a:hover {
  color: #FFD700;
}

p {
  font-family: 'Karla', sans-serif;
  font-size: 1.2em;
  color: #eeeeee;
  letter-spacing: 0.1em;
  line-height: 2em;
  padding: 0.9em 0em;
  margin-left: 15%;
  margin-right: 15%;
  background-color: rgba(134, 133, 133, 0.6);
  text-align: center;

}

section {
  margin-bottom: 15px;
}
